ConsoleTest/obj
Functional/obj
TestHarness/obj
[Bb]in
[Oo]bj
*.suo
*.user
*.vs10x
Functional/[Tt]est[Rr]esults/
FunctionalNET.dll
FunctionalNET.pdb
FunctionalNET.XML
FunctionalMONO.dll
FunctionalMONO.pdb
FunctionalNET.dll
FunctionalNET.pdb
FunctionalNET.XML
TestHarnessNET.dll
TestHarnessNET.pdb
ConsoleTestNET.exe
ConsoleTestNET.pdb
ConsoleTestNET.exe.config
ConsoleTestNET.vshost.exe
ConsoleTestNET.vshost.exe.config
Functional.net.v11.suo
FunctionalMONO.dll
FunctionalMONO.pdb
FunctionalMONO.dll
FunctionalMONO.pdb
TestHarnessMONO.dll
TestHarnessMONO.pdb
ConsoleTestMONO.exe
ConsoleTestMONO.pdb