ConsoleTest/obj
Functional/obj
TestHarness/obj
[Bb]in
[Oo]bj
*.suo
*.user
*.vs10x
*.sln.docstates

# MSTest test Results
Functional/[Tt]est[Rr]esult*/

# Built binaries
FunctionalNET.dll
FunctionalNET.pdb
FunctionalNET.XML
FunctionalMONO.dll
FunctionalMONO.pdb
FunctionalNET.dll
FunctionalNET.pdb
FunctionalNET.XML
TestHarnessNET.dll
TestHarnessNET.pdb
ConsoleTestNET.exe
ConsoleTestNET.pdb
ConsoleTestNET.exe.config
ConsoleTestNET.vshost.exe
ConsoleTestNET.vshost.exe.config
Functional.net.v11.suo