ConsoleTest/obj
Functional/obj
TestHarness/obj
bin
FunctionalNET.dll
FunctionalNET.pdb
FunctionalNET.XML
FunctionalMONO.dll
FunctionalMONO.pdb
FunctionalNET.dll
FunctionalNET.pdb
FunctionalNET.XML
TestHarnessNET.dll
TestHarnessNET.pdb
ConsoleTestNET.exe
ConsoleTestNET.pdb
ConsoleTestNET.exe.config
ConsoleTestNET.vshost.exe
ConsoleTestNET.vshost.exe.config
FunctionalMONO.dll
FunctionalMONO.pdb
FunctionalMONO.dll
FunctionalMONO.pdb
TestHarnessMONO.dll
TestHarnessMONO.pdb
ConsoleTestMONO.exe
ConsoleTestMONO.pdb